body {
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgoldenrodyellow;
}

.header-right {
    display: flex;
    gap: 25px;
}

.title {
    background-color: lightcoral;
    padding: 75px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

.title-left, .title-right {
    flex-basis: 300px;
}
