body {
    margin: 0px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgoldenrodyellow;
}

.header-right {
    display: flex;
    gap: 25px;
}

.title {
    background-color: lightcoral;
    padding: 75px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

.title-left, .title-right {
    flex-basis: 300px;
}

.body {
    text-align: center;
}
.body-info {
    display: flex;
    justify-content: center;
    flex-basis: 10px;
    gap: 30px;
}

.body-info img {
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.info {
    display: flex;
    justify-content: center;
}