body {
    margin: 0px;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: white;
}

h2 {
    font-weight: 1000;
    font-size: 36px;
    color: black;
}

h3 {
    font-size: 24px;
    color: white;
}

p {
    color: rgb(171, 171, 171);
    font-size: 20px;

}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    border: 0px;
}

a {
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1F2937;
}

.header-right {
    display: flex;
    gap: 30px;
}

.title {
    background-color: lightcoral;
    padding: 75px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #1F2937;
}

.title-left, .title-right {
    flex-basis: 300px;
}

.body {
    text-align: center;
    padding: 50px;
}
.body-info {
    display: flex;
    justify-content: center;
    flex-basis: 10px;
    gap: 30px;
}

.body-info img {
    border-radius: 20px;
    height: 250px;
    width: 250px;
    border: 3px solid #3882f6;
}

.quote {
    padding: 50px;
    background-color: #E5E7EB;
}
.quote p {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
}

.quote strong {
    font-size: 20px;
    padding-right: 450px;
    display: flex;
    justify-content: flex-end;
    /* width: 75%; */
}

.footer {
    background-color: #3882f6;
    margin: 100px;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
    gap: 400px;
    align-items: center;
    border-radius: 25px;
}

.footer p {
    color: rgb(218, 218, 218);
}

.footer button {
    font-size: 20px;
    border: white solid 2px;
    padding-left: 40px;
    padding-right: 40px;
}
